.button {
    display: inline-block;
    padding: 10px 30px;
    text-decoration: none;
    background-color: var(--green);
    border-radius: 20px;
    color: var(--white);
    border: 1px solid transparent;
    opacity: .9;
}

.button--c {
    border-bottom-left-radius: 0;
}

.button--bg-blue {
    background-color: #20639b;
    color: #eee;
}

.button--hover:hover {
    border: 1px solid var(--green);
    background-color: transparent;
}


.button--square {
    display: inline-block;
    padding: 6px 18px;
    text-decoration: none;
    background-color: transparent;
    border-radius: 20px;
    color: var(--green);
    border: 1px solid var(--green);
    opacity: .9;
}