.card {
    box-shadow: -1rem 0 3rem #000;
    border-radius: 5px;
    background-color: var(--grey);
    transition: .3s;
    cursor: pointer;
}


.card__head {
    margin: 5px;
    padding: 20px 20px 0 20px;

}

.card__body {
    margin: 5px;
    padding: 0 20px 20px 20px;

}

.card:hover {
    transform: translateY(-10px);
}

