.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(33,33,33,.8);
}

.modal__box {
    width: 80%;
    height: 80%;
    margin: 0 auto;
    margin-top: 100px;
    padding: 60px 30px;
}

.modal__close {
    color: #fff;
    cursor: pointer;
    z-index: 30;
    float: left;
}

.modal__close:hover,
.modal__close:focus {
    color: #ccc;
}

.modal__content {
    height: 100%;
    overflow: auto;
    padding: 30px;
}

.modal-open {
    overflow: hidden;
}