.nav {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}

.nav__item, .nav__item--green {
    padding: 8px 0;
    margin: 0 16px;
    cursor: pointer;
    border: 1px solid transparent;
}

.nav__item a {
    color: white;
    text-decoration: none;
}

.nav__item:hover {
    border-bottom: 1px solid var(--white);
}

.nav__item:hover a {
    color: var(--green);
}

.nav__item--green {
    border: 2px solid transparent;
}
.nav__item--state-click {
    border-bottom: 2px solid var(--green);
}
