
/* Bar proces  */
.process {
    display: block;
    margin-bottom: 20px;
}

.process__info {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.process__lg {
    font-size: 15px;
    font-weight: 600;
}

.process__value {
    font-size: 15px;
    font-weight: 400;
}


.process__bar, .process__label {
    display: block;
    height: 8px;
    border-radius: 4px;
    background-color: var(--light-grey);
}

.process__label {
    background-color: var(--green);
}
