.inspire {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 500px;
}

.inspire__text {
    padding: 20px 0;
    text-align: center;
}

.inspire__from {
    text-decoration: underline;
}

.inspire__from::before {
    content: '---';
}

.inspire__from::after {
    content: '---';
}