
:root {
    --dark: #000;
    --light-dark: #100E17;
    --green: #0bceaf; 
    --light-green: #5EBFA6;
    --white: #fff;
    --grey: #202026;
    --blue: #2796e2;
    --iron: #d2664e;
    --purble: #7e61cf;
    --light-grey: rgba(199, 198, 198, 0.6);
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    font-size: 1rem;
    line-height: 1.5;
    font-weight: 400;
    font-family: 'Roboto', sans-serif;
    background-color: var(--light-dark);
    color: var(--white);
}


h1, h2, h3, h4, h5, h6 {
    margin-top: 0;
    margin-bottom: .5rem;
}

p {
    margin-top: 0;
    margin-bottom: 1rem;
}

a {
    text-decoration: none;
}


#main, .limit-w {
    max-width: 1024px;
    margin: 0 auto;
}

.pointer {
    cursor: pointer;
}



/* box style 
============
*/
.border {
    border: 1px solid var(--green);
    border-radius: 3px;
    display: inline-block;
    padding: 3px 5px;
    margin-bottom: 3px;
}

.bg-grey {
    background-color: var(--grey);
}

.bg-green {
    background-color: var(--green);
}

.bg-iron {
    background-color: var(--iron);
}

.bg-purble {
    background-color: var(--purble);
}

.bg-blue {
    background-color: var(--blue);
}





/* color text
==============
*/
.white {
    color: var(--white);
}

.green {
    color: var(--green);
}

.blue {
    color: var(--blue);
}

.iron {
    color: var(--iron);
}

.purble {
    color: var(--purble);
}

.text-center {
    text-align: center;
}


/* hero pannel - social-icons 
============================
*/
#hero-panel .social-icons {
    justify-content: center;
}

@media only screen and (min-width: 780px) {
    #hero-panel .social-icons {
        justify-content: left;
    }
}






/* skills technical and profesional 
===================================
*/

@media only screen and (min-width: 1000px) {
    #skills .technical-skills {
        margin-right: 60px;
    }

}






/* expreriments 
===============
*/
#experience .technical-skills, #experience .profesional-skill {
    margin-top: 60px;
}

@media (min-width: 1000px) {
    #experience .education .card {
        margin-right: 60px;
    }

    #experience .work-experience .card {
        margin-left: 60px;
    }

    #experience .work-experience h3 {
        margin-left: 60px;
    }

}


/* masory grid setup
==================
*/
.grid-item {
    padding-bottom: 20px;
}