

/* font-size */
.text-1 {
    font-size: 14px;
}

.text-2 {
    font-size: 18px;
}

.text-3 {
    font-size: 20px;
}

.text-4 {
    font-size: 30px;
}
/* font-weight */
.bold {
    font-weight: 600;
}

.light-bold {
    font-weight: 500;
}

.light {
    font-weight: 400;
}

.italic {
    font-style: italic;
}



